<link rel="import"  href="/bower_components/polymer/polymer-element.html">

<dom-module id="feature-item">

  <template>
    <!-- bind to the "owner" property -->
    <style>
      .header {
        display: flex;
        width: 100%;
        
      }
      .title {
        margin-top: 0;  
        flex: 1;
      }
      .price {
        color: var(--red);
        font-weight: bold;
        margin-left: 1em;
      }
      img {
        max-width: 100%;
        height: auto;
      }

    </style>
    <img src="https://placehold.it/400x300"/>
    <header class="header">
      <h2 class="title">[[title]]</h2>
      <span class="price">[[price]]</span>
    </header>
    <p class="description">[[description]]</p>
    <a href="[[cta_link]]" class="button">[[cta_text]]</a>
  </template>
  
  <script>
    class FeatureItem extends Polymer.Element {
      static get is() { return "feature-item"; }
      // configure owner property
      static get properties() {
        return {
          title: {
            type: String,
            value: "Title",
          },
          price: {
            type: String,
            value: "$0.00",
          },
          description: {
            type: String,
            value: '',
          },
          cta_text: {
            type: String,
            value: 'Call to Action',
          },
          cta_link: {
            type: String,
            value: '#',
          }
        };
      }
    }
    customElements.define(FeatureItem.is, FeatureItem);
  </script>

</dom-module>